header, footer {
  padding-left: 300px;
}
main{
  margin-top: 60px;
  padding: 20px 20px 20px 320px;
  margin-bottom: 40px;
}
header.navbar-fixed-custom{
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 997;
}
.brand-logo-custom img{
  padding-top: 15px; 
  padding-left: 20px;
  height: 50px;
}




nav form {
  position: relative;
  height: 100%;
  background: inherit;
}
.nav-wrapper{
  background: inherit;
  
}

.search-close-icon{
  display: none!important;
  position: absolute;
  top: 0;
  left: 100%!important;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.54);
  transition: color .2s;
  cursor: pointer;
}


.my-grey{
  background: #ffffff;
}
#topbarsearch i{
  color: #ffffff;
}
input.search-field {
  font-weight: 500;
  color: #ffffff;
  border: 0;
  height: 40px;
  padding: 8px 8px 8px 45px;
  width: 200px;
  background: #B71C1C;
  transition: background 0.2s, width .2s;
}
input.search-field:hover {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.54);
}
.searchbox {
  position: relative;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.74);
}
input.search-field:hover::placeholder, input.search-field:hover~label i.search-icon {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.54) !important;
}

input.search-field:focus {
  outline: none;
  width: 250px;
  color: #d6b1b1;
  background: #ffffff;
}
input.search-field:focus~label i.search-icon {
  color: rgba(0, 0, 0, 0.54) !important;
}
.search-icon {
  position: absolute;
  top: 0;
  padding-left: 10px;
  color: #ffffff;
}
.search-content {
  color: #303c42;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 8px 10px;
}
.search-heading {
  color: #757575;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
input.search-field ~ .search-popup {
  overflow: hidden;
  left: 0px;
  min-height: 50px;
  max-height: 700px;
  width: 200px;
  top: -450px; 
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: width .2s, top .2s ease-in-out;
  border-radius: 2px;
  background-color: #fff;
}
input.search-field:focus ~ .search-popup {
  width: 500px;
  top: 50px;
}
nav ul.popup-list a:hover {
  background-color: initial;
}
nav ul.popup-list li {
  float: none;
}
nav ul.popup-list li a {
  line-height: 30px;
  padding: 0;
  font-size: 12px;
  color: #212121 !important;
}
nav ul.popup-list li a:hover {
  background-color: #f7f7f7;
}

p {
  font-size: 1.3rem;
}

.top-margin {
  margin-top: 8px;
}

@media only screen and (max-width: 600px) {
  
  nav form {
/*     left: calc(90vw - 100%); */
  }
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: transparent;
  }

  input.search-field {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }
  input.search-field ~ .search-popup {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }

  .search-icon {
    top: 0;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 170px;
    padding: 8px 8px 8px 50px;
  }

  input.search-field:focus ~ .search-popup {
    width: 100vw;
  }

  .search-content {
    width: 100%;
    padding: 8px 8px;
  }

  nav .nav-wrapper {
    margin-right: 0px;
  }
}



a.sidenav-trigger{
  /* visibility: hidden; */
  display: none !important;
}
nav .sidenav-trigger {
  margin: 0;
}
.sidenav li>a>i.material-icons{
  margin: 0 15px 0 0 !important;
}
.sidenav a.collapsible-header{
  padding: 0 32px;
}
div.user-view .background img{
  width: 100%;
}
.dropdown-content li{
  min-height: unset;
}
.dropdown-content li>a, .dropdown-content li>span{
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  padding: 14px 30px 14px 20px;
}
.dropdown-content li>a{
  display: block;
}
.dropdown-content li>a>i{
  margin: 0 10px 0 0;
  font-size: 20px;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #ffffff;
}
footer.page-footer{
  padding-top: 0;
}
footer.page-footer .footer-copyright{
  min-height: unset;
  padding: 10px 20px;
}

@media only screen and (max-width : 992px) {
  header, footer {
    padding-left: 0;
  }
  main{
    padding: 20px;
  }
  a.sidenav-trigger{
    /* visibility: visible !important; */
    display: block !important;
  }
  .brand-logo-custom img{
    padding-left: 0;
  }
}
@media only screen and (max-width : 600px) {
  main{
    padding: 10px;
  }
  .brand-logo-custom img{
    padding-top: 13px; 
    height: 42px;
  }
  .footer-col{
    padding: 8px 20px 2px 20px;
  }
}